clickhouse_driver==0.2.7
Flask==2.2.5
flask_sqlalchemy==3.1.1
gevent==24.2.1
imbalanced_learn==0.12.0
imblearn==0.0
nltk==3.8.1
numpy==1.24.4
pandas==2.0.3
Requests==2.31.0
scikit_learn==1.0.2
statsmodels==0.14.1
tqdm==4.66.2
xgboost==1.7.6
